services:
  msspeechserver:
    image: mukund1606/msspeechserver:v2
    networks:
      - tts-network

  fastapi-tts:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      TTS_BASE_URL: 'http://msspeechserver:8080/SetTTS'
    volumes:
      - sqlite-data:/app/data
    depends_on:
      - msspeechserver
    networks:
      - tts-network
    ports:
      - 8000:8000

volumes:
  sqlite-data:

networks:
  tts-network:
    driver: bridge
